@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #303944;
    text-align: left;
    background-color: #edf0f0;
}

.header--nav {
    background-color: #fff;
    padding: 0 10px 0 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    font-size: 24px;
    top: 0;
    right: 0;
    height: 70px;
    z-index: 100;
    -webkit-box-shadow: 0 1px 2px 0 rgb(33 37 41 / 10%);
    box-shadow: 0 1px 2px 0 rgb(33 37 41 / 10%);
}

.logo-page {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #1a2942;
    width: 240px;
    height: 70px;
    color: #fff;
    text-decoration: none;
}

.header--nav--left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-page h4{
    display: inline-block;
}

.header--nav--right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-menu {
    display: flex;
    margin-left: 20px;
}

.nav-item {
    list-style: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
}

.num_noti {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height:15px;
    border-radius: 50%;
    background-color: #f24f7c;
    color: #fff;
}

.search-box {
    background-color: #edf0f0;
    margin-left: 15px;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}

.search-box input {
    background-color: #edf0f0;
    border: none;
    outline: none;
    padding: 10px 5px 10px 10px;
}

.search-box i{
    font-size: 20px;
    padding: 5px;
}


.nav-item p {
    padding: 5px;
}

.user--m {
    text-decoration: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #797979;
    position: relative;
}

.user--m img {
    width: 30px;
    height:30px;
    object-fit: cover;
    border-radius: 50%;
}

.drop_nav-user, .drop_nav-notif{
    position: absolute;
    top: 68px;
    right: 0;
    width: 180px;
    font-size: 22px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(25, 28, 31, 0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    animation: dropMenu 0.2s linear;
}

.drop_user_item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.drop_user_item i{
    font-size: 18px;
    margin-right: 5px;
}

.drop_nav-notif {
    width: 320px;
    top: 64px;
}

.drop_nav-user div{
    padding: 10px 15px;
}


.drop_nav-user a{
    text-decoration: none;
    font-size: 15px;
    color: #36404c;
}


.drop_nav-user a:last-child{
    border-top: 1px solid #ccc;
    padding: 15px 15px;
}

.drop_nav-user a:hover,.drop_nav-notif a:hover{
    background-color: rgb(243, 242, 242);
}

.drop_notif_item:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px
}

.drop_notif_item:first-child a {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    color: #b94d52;
    font-weight: 600;
}

.drop_notif_item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    color: #36404c;
    overflow: hidden;
}

.mess-icon {
    width: 35px;
    height: 35px;
    background-color: #f0ebeb;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
}

.mess-icon i {
    font-size: 20px;
}

.mess-icon i.bx.bx-user-pin {
    color: rgb(102, 145, 226);
}

.mess-icon i.bx.bxs-user-plus {
    color: rgb(72, 175, 132);
}

.mess-icon i.bx.bxs-heart {
    color: rgb(226, 102, 133);
}

.mess-box p {
    padding: 0;
}

.mess-box span {
    font-size: 14px;
    color: #656666;
}

.drop_notif_item:last-child {
    justify-content: center;
    padding: 15px 15px;
}

.main--content {
    display: flex;
    margin-top: 70px;
}

.main__menu{
    width: 240px;
    background-color: #1a2942;
    height: 100vh;
}

.nav__list {
    color: #8391A0;
    font-size: 16px;
}

.nav_list_item {
    position: relative;
}

.nav_list_item a{
    display: block;
    text-decoration: none;
    color: #8391A0;
    padding: 10px 20px;
}

.nav_list_item > a > i{
    margin-right: 8px;
    vertical-align: middle;
}

.bx.bx-chevron-right{
    position: absolute;
    right: 20px;
    top: 13px;
    transition: 0.3s;

}

.nav_list_item:first-child {
    padding: 15px 15px 10px 15px;
    font-size: 13px;
    font-weight: 600;
}

.sub_list {
    padding-left: 20px;
    transition: 0.5s;
}

.sub_list_item{
    list-style: none;
}

.sub_list_item a{
    text-decoration: none;
    color: #8391A0;
    font-size: 14px;
    padding-left: 25px;
}

li.nav_list_item:hover > a,
li.sub_list_item:hover > a {
    color: #b1c4da;
}

.hide{
    display: none;
}

.active {
    color: #b1c4da;
}

.rotate_90 {
    transform: rotate(90deg);
}


@keyframes dropMenu {
    from{
        top: 100px;
        opacity: 0;
    }
    to{
        top: 68px;
        opacity: 0.7;
    }
}